.app {
  width: 100%;
  display:grid;
  grid-template-columns: 1 fr;
  // grid-template-columns: 1fr 3fr;
  
}
@media screen and (min-width: 992px) {
  .app {
    grid-template-columns: 1fr 3fr;
  }
  
}